<!DOCTYPE html>
<html>

<head>
    <title>Key Chain Interface</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <header>
        <h1 id="titre">Key Chain</h1>
        <img class="dylan" src="dylan.gif">
    </header>

    <div class="flex-container">
        <div class="left">
            <form action="" method="post">
                <input autocomplete="off" type="text" id="fname" name="key" value="key">
                <input autocomplete="off" type="text" id="lname" name="value" value="value">
                <input class="button" type="submit" name="s" value="ADD">
            </form>

            <form action="" method="post">
                <input autocomplete="off" type="text" id="fname" name="fname" value="">
                <input class="button" type="submit" value="RETRIEVE">
            </form>

            <form action="" method="post">
                <input autocomplete="off" type="text" id="fname" name="fname" value="">
                <input class="button" type="submit" value="RETRIEVE ALL">
            </form>

            <form action="" method="post">
                <input class="button" type="submit" name="NETWORK" value="NETWORK">
            </form>
        </div>
        <div class="right">

        </div>
    </div>

    <div id="wrapper">
        <div id="spiderman">
            <div class="head">
                <div class="eye-left"></div>
                <div class="eye-right"></div>
            </div>
            <div class="body">
                <div class="spider"></div>
                <div class="arm-left"></div>
                <div class="arm-right"></div>
            </div>
            <div class="legs">
                <div class="boot-left"></div>
                <div class="boot-right"></div>
            </div>
        </div>
    </div>


</body>
<footer>
    <h1>
        <marquee behavior="scroll" direction="left" scrollamount="7">Welcome</marquee>
    </h1>
</footer>

</html>